{% extends 'base.html' %}
{% block title %}Contact me {% endblock %}





{%include 'header.html'%}
{% block content %}


<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my webpage! I'm Anna. My journey with programming began during my maternity leave,
            a pivotal moment in my life where I realized the need for change and personal growth.
          Programming has become a passion of mine, allowing me to explore the endless possibilities of technology and innovation.
            By utilizing APIs, I can seamlessly integrate external data sources and functionalities to enhance user experiences
            and deliver valuable content.
            This page showcases my proficiency in utilizing APIs to create customized and interactive website features.
        </p>
        <p>I am also a passionate individual who finds joy in cooking,
            photography, and staying active through CrossFit.
            Cooking has always been a creative outlet for me, allowing me to experiment with flavors and techniques to
            create delicious dishes. Photography is another love of mine, capturing moments and emotions through the lens of my camera.
            CrossFit has become a vital part of my lifestyle, pushing me to challenge myself physically and mentally.</p>
      </div>
    </div>
  </div>
</main>


{% endblock %}