{% extends 'base.html' %}
{% block title %}Contact me {% endblock %}





{%include 'header.html'%}
{% block content %}


<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('/static/img/about.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Welcome to my project, where I dive deep into the delicious world of recipes powered by the Tasty API.
          This platform is a personal endeavor to explore and test the capabilities of the Tasty API,
          bringing you a curated selection of recipes that are quick, easy,
          and guaranteed to delight your taste buds.
        </p>
        <p>I started my journey as a programmer with a passion for creating useful and engaging applications.
          This project is a testament to that journey, combining my love for coding with a practical
          use case that can benefit anyone who enjoys cooking.</p>
        <p>Through this project, you can browse a variety of recipes, view detailed ingredient lists,
          and even compile your own personalized grocery list for hassle-free shopping.
          Whether you're a seasoned chef or just starting your culinary journey,
          there's something here for everyone.</p>
        <p>Happy cooking!</p>
      </div>
    </div>
  </div>
</main>


{% endblock %}