{% extends 'base.html' %}
{% block title %}Recipes by Tasty {% endblock %}


{%include 'header.html'%}
{% block content %}


<div class="container my-5">
  <div class="card shadow rounded-4 overflow-hidden">

    <div class="row g-0">


      <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
        <h1 class="card-title" style="color: #0085a1;">{{ recipe.name }}</h1>

        <div class="mb-3">
          <span class="badge bg-primary me-2">Prep time: {{ recipe.prep_time_minutes or "n/a" }} min</span>
          <span class="badge bg-primary me-2">Cook time: {{ recipe.cook_time_minutes or "n/a" }} min </span>

        </div>

        <h5 class="mb-3">🧂 Ingredients</h5>
        <ul class="list-group list-group-flush">
          {% for item in recipe.ingredients %}
            <li class="list-group-item border-0 ps-0">
              <input type="checkbox" class="form-check-input me-2"> {{ item }}
            </li>
          {% endfor %}
        </ul>
        <form action="{{ url_for('add_to_grocery_list', recipe_id=recipe.id) }}" method="POST" class="mt-4">
            <button type="submit" class="btn text-white shadow-sm" style="background-color: #0085a1;">
    🛒 Add to Grocery List
            </button>
        </form>
      </div>



      <div class="col-md-6">
        <img src="{{ recipe.thumbnail_url }}" alt="{{ recipe.name }}"
             class="img-fluid h-100 w-100 object-fit-cover"
             style="min-height: 300px;">
      </div>

    </div>

    <div class="card-body">
      <h4 class="mb-4">👨‍🍳 Instructions</h4>

      <div class="list-group list-group-flush">
        {% for instruction in recipe.instructions %}
          <div class="list-group-item d-flex align-items-start">
            <span class="badge bg-warning text-dark me-3">{{ loop.index }}</span>
            <span>{{ instruction['display_text'] }}</span>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
<div class="d-flex justify-content-center gap-3 mt-5">
  <a href="#" class="btn btn-outline-secondary shadow-sm">
    🔝 Back to top
  </a>
  <a href="{{ url_for('home') }}" class="btn btn-outline-primary shadow-sm">
    🏠 Main Page
  </a>
</div>

{% endblock %}
